/* VARIABLES */

/* color palette */

:root {
    --dark-color: #103b58;
    --main-text-color: #7ddcbe ;
    --small-headings: #fac765;
    --large-headings: #f08625 ;
    --accent-color: #ed5849 ;
    --white: #fff;
  }




