.projects {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    margin: 2rem 1rem;
    padding-top: 10rem;
    min-height: 90vh;
    z-index: 10;
    position: relative;
}

.bg-img-projects {
    position: absolute;
    right: -3rem;
    max-width: 20%;
    top: 40%;
    display: none;
}


.spacer {
    height: 70px;
}

.project-area {
    position: relative;
    z-index: 9;
    max-width: 95%;

}

.project-card {
    width: 80%;
    
}

.projects h2 {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
   max-width: 100%;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
}

@media (min-width: 49em) {

   


    .projects h2 {
        max-width: 100%;
    }
    
    .project-area {
        margin-top: -5rem;
        
    }
}

.slider-image {
    height: 300px;
    object-fit: cover;
    object-position: center top;
}


.swiper {

    height: auto;
    margin-top: 2rem;
    
}

.swiper-button-next, .swiper-button-prev {
    color: var(--small-headings);
    top: 20px;
    right: 0;
    
    
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 2rem;
}

.swiper-button-prev {
    right: 50px !important;
    left: unset;
}


  .project-card {
      display: flex;
      flex-direction: column;
      justify-content: stretch !important;
      padding-top: 4rem;
  }

  .project-card a {
     width: fit-content;
     color: var(--small-headings);
  }

  .project-card a:hover {
    background-color: var(--small-headings);
    border-color: var(--small-headings);
    color: var(--dark-color);
    border-radius: 12px 0 12px 0;
 }

 @media (min-width: 64em) {
    .projects {
        grid-template-columns: repeat(2, 50%);
        
    }

    .bg-img-projects {
        display: block;
    }

 }

  @media (min-width: 80em) {
    .swiper {
        width: 100%;
        height: auto;
      }

      .projects {
          margin: 2rem 3rem;
      }
  }

  