.cv {
display: grid;
grid-template-columns: 1fr;
padding: 2rem 2rem 2rem 2rem;
background-color: #05273e;


}

.bg-img-cv {
    transform: rotate(180deg);
    max-width: 20%;
    position: absolute;
    left: 0;
    top: 270%;
    display: none;
}

@media (min-width: 64em) {

    .bg-img-cv {
        display: block;
    }

    .cv {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2rem ;
        padding: 4rem 5rem;

        
        }

        
    
}

.cv ul {
    list-style: circle;
    color: var(--main-text-color);
    font-weight: 200;
}

.cv ul li {
    font-size: 14px;
    margin-left: 2rem ;
}

.cv ul h4 {
    
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: lowercase;
}

.cv h2 {
    margin-left: -1rem;
    border-bottom: white 1px solid;
    border-left: white 1px solid;
    padding: 3rem 0.5rem 0.5rem 0.5rem;
}

.resume-scroll {
    height: 600px;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
   
}

.resume-scroll::-webkit-scrollbar {
    width: 1rem;
}

.resume-scroll::-webkit-scrollbar-track {
    background-color: var(--main-text-color);
    border-radius: 15px;
}

.resume-scroll::-webkit-scrollbar-thumb {
    background-color: var(--small-headings);
    border-radius: 15px;;
    height: 1rem;
}

.skills-section {
    
    margin-bottom: 2.5rem;
}

.grid-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.education-section {
    margin-bottom: 2.5rem;
}

.cv h3 {
    font-size: 1.5rem;
    text-transform: lowercase;


}

@media (min-width: 49em) {
   
    
}


.work-item p{
    margin: 0 0 1rem 0;
    font-style: italic;
    

} 

.work-item {
    margin: 2rem 0;
}

.work-item h4 {
    margin: 0;
    font-weight: 400;

}

.education-item p{
    margin: 0;
    font-style: italic;
    

} 

.education-item h4 {
    margin: 0;
    font-weight: 400;

}

.education-item {
    margin: 2rem 0;
}